<%- include("_header") -%>
<br>
<img src="people.jpg" alt="people icon" width=18% />
<br>
<br>
<h1>People Database Application</h1>
<h2>(by Mohammad Fahim Tajwar)</h2>
<br>
This is a simple CRUD (create, read, update, delete) API that can be used to store full names of people inside a database table, using the People Database tab on the right. The API was designed in JavaScript, using Node, Express and EJS, with the data stored using SQLite, and the application deployed on Glitch. This is only a sample application used to demonstrate the simplicity and powerful functionality of frontend libraries like EJS and backend modules like Node and Express, available in JavaScript. The data on SQLite is persistent on the Glitch server, and can last indefinitely. However, the database is cleared periodically for security purposes, and since this web application is meant to serve mostly an illustrative purpose.
<br>
<br>
<a href="https://github.com/mohammadfahimtajwar/people-database-application" class="btn btn-info" role="button">GitHub Repository</a>
<a href="https://mohammadfahimtajwar.com" class="btn btn-info" role="button">Click here to learn more about me!</a>